.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.recipe img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipecontent {
  padding: 0em 1em 0em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  width: 250px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #4cae4c;
}

form select {
  padding: 10px;
  font-size: 16px;
  color: #757474;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #454545;
  text-decoration: inherit;
}
a:hover {
  color: #f12828;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
  padding-top: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #484747;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f12828;
  }
  button {
    background-color: #f9f9f9;
  }
}

.recipe-detail-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.recipe-detail-container {
  max-width: 60%;
  background: #fff;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-detail-container h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  padding: 0px 20px 0px 20px;
}

.recipe-detail-container h3 {
  padding: 0 20px 0;
}

.recipe-detail-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.recipe-detail-container p {
  font-size: 1em;
  margin: 10px 0;
  color: #666;
}

.recipe-detail-container strong {
  color: #333;
}

.recipe-detail-container ul {
  list-style-type: disc;
  padding-left: 35px;
  padding-right: 20px;
  color: #666;
}

.recipe-detail-container li {
  margin-bottom: 10px;
}

.recipe-detail-container a {
  padding: 0px 10px 30px 20px;
  display: inline-block;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5em;
  color: #666;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  color: #333;
}

.not-found h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.not-found p {
  font-size: 48px;
  margin-bottom: 20px;
}

.not-found a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5cb85c;
  border-radius: 4px;
  text-decoration: none;
}

.not-found a:hover {
  background-color: #4cae4c;
}

body.light-theme {
  background-color: #fff;
  color: #000;
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

body.dark-theme form {
  background-color: #4c4b4b;
}

body.dark-theme .recipe {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

body.dark-theme p,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6 {
  color: #f0f0f0;
}

body.light-theme p,
body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4,
body.light-theme h5,
body.light-theme h6 {
  color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #555656;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e3e4e4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchtext {
  font-style: italic;
  font-size: 12px;
}

.switcharea {
  position: absolute;
  right: 10px;
  top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
